apiVersion: apps/v1
kind: Deployment
metadata:
  name: novatrack-api
  namespace: novatrack
spec:
  replicas: 2
  selector:
    matchLabels:
      app: novatrack-api
  template:
    metadata:
      labels:
        app: novatrack-api
    spec:
      containers:
        - name: api
          image: oluwademilade/novatrack-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
